/* Logica dei pannelli scorrevoli */
.slide-panel {
    visibility: hidden;
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.4s;
}

.slide-panel.open {
    visibility: visible;
    transform: translateX(0) !important;
}

.slide-panel-left { transform: translateX(-100%); }
.slide-panel-right { transform: translateX(100%); }

/* Nascondi scrollbar per pulizia terminale */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }